# Visual Studio
.vs/
*.user
*.suo

# Build
bin/
obj/
artifacts/

# Logs
*.log

# Node (dla frontendu kiedyś)
node_modules/

# Environment
.env
appsettings.Local.json
*.secrets.json

# OS files
Thumbs.db
.DS_Store
